@media (max-width:1250px) {
    .wrap {
        width: 90%;
        margin: 0px auto;
    }

    #banner h1 {
        width: 100%;
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
    }

    .card {
        width: 17%;
        margin: 1.45%;
    }

    .card p {
        display: block;
        width: 90%;
        margin: 0px auto;
        text-align: center;
    }

    #articles {
        width: 65%;
    }

    #articles articles {
        width: 97%;
    }

    #footer .wrap>div {
        width: 26%;
        margin: 3.6%
    }

    #footer #browsers img {
        width: 14%;
    }

    #footer #developedWith img{
        width: 90%;
        display: block;
        margin: 10px auto;
    }

    #footer h5 {
        font-size: 30px;
    }
}

@media(max-width: 1080px) {
    .card .category {
        font-size: 17px;
    }

    .card .description {
        font-size: 14px;
    }

    #articles {
        width: 61%;
    }
}

@media(max-width: 970px) {
    #articles {
        width: 59%;
    }

    #footer h5 {
        font-size: 22px;
    }
}

@media (max-width: 960px){
    #menu{
        margin-right: 13%;
    }
}

@media(max-width: 925px) {
    #articles {
        width: 67%;
    }

    #articles h2{
        font-size: 35px;
    }

    #sidebar {
        width: 25%;
    }

    #sidebar h3{
        font-size: 23px;
    }

    #sidebar input[type="text"] {
        width: 78%;
    }

    .aside-box {
        width: 95%;
        min-height: 140px;
        height: auto;
        padding-bottom: 10px;
    }

    #login input[type="email"],
    #login input[type="password"] {
        width: 65%;
    }

    #login #user,
    #login #password {
        margin-left: 24px;
    }

    #login input[type="submit"],
    #login input[type="button"],
    #login input[type="reset"],
    button {
        margin-bottom: 0px;
    }

    #login input[type="reset"]{
        display: none;
    }

    .aside-box a{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #footer ul li a{
        font-size: 20px;
    }
}

@media (max-width: 890px){
    #menu{
        margin-right: 11%;
    }
}

@media (max-width: 810px){
    #menu{
        margin-right: 9%;
    }

    #menu ul li {
        margin: 0px 15px 0px 15px;
    }

    .card{
        height: auto;
    }

    .card .category{
        font-size: 15px;
        margin-top: -23px;
    }

    .card .description{
        display: none;
    }

    #sidebar input[type="button"]{
        font-size: 14px;
    }

    #sidebar h3{
        font-size: 20px;
    }

    #social .overlay{
        font-size: 15px;
        margin-left: 58px;
        }
}

@media (max-width: 724px){
    #header{
        width: 100%;
        height: 275px;
        padding-top: 10px;
    }

    #menu {
        clear: both;
        float: none;
        width: 100%;
        margin: 0px auto;
    }

    #logo{
        float: left;
        margin: 0px auto;
    }

    #sidebar input[type="text"],
    #sidebar input[type="email"],
    #sidebar input[type="password"]{
        width: 70%;
    }

    #sidebar h3 {
        font-size: 18px;
    }

    #login #user, #login #password{
        margin-left: 18px;
    }

    #social .overlay{
    font-size: 12px;
    margin-left: 58px;
    }

    #menu ul li{
        width: 100%;
        margin: 0px;
        line-height: 52px;
    }

    #menu ul li a:hover{
       transform: scale(1, 1);
    }

    #banner{
        height: 85px;
        line-height: 25px;
    }

    #banner h1{
        font-size: 30px;
    }

    .card{
        width: 16%;
    }

    .card .icon{
        font-size: 35px;
    }

    .card:hover .icon{
        font-size: 35px;
    }

    .card .category{
        font-size: 13px;
    }

    #articles .data{
        float: none;
        margin: -10px;
        border-radius: 0px 0px 0px 0px;

    }
    #articles article h4{
        margin-top: 20px;
    }
}

@media (max-width: 660px){
    #sidebar{
        float: none;
        margin: 0px auto;
        width: 100%;
        min-height: auto;
        margin-top: 20px;
    }

    #sidebar input[type="text"]{
        width: 85%;
    }

    #login #user, 
    #login #password {
        margin-left: 30px;
    }

    #login input[type="email"], 
    #login input[type="password"] {
        width: 85%;
    }

    #articles{
        float: none;
        margin: 0px auto;
        width: 100%;
        min-height: auto;
    }

    #footer{
        height: auto;
        padding-bottom: 40px;
    }

    #footer .wrap > div {
        width: 100%;
        margin: 0px auto;
        margin-top: 20px;
    }

    #footer h5{
        font-size: 25px;
    }

    #footer #developedWith img {
        width: 50%;
        display: block;
        margin: 10px auto;
    }
}
